// Links
// -------------------------
@linkColor: #336699;
@linkColorHover: #4394e5;
@footer-link-color: #ECE471;
@active-link-color: #E5DA55;

// Scaffolding
// -------------------------
@bodyBackground: #fff;
@textColor: #1e1e1c;

@headingsColor: @textColor;
// empty to use BS default, @textColor

// Top Section Gradient
// -------------------------
@top-section-bg-start: #F1E867;
@top-section-bg-stop: #E4DA55;
@top-background: #F1E867;

// Background
// -------------------------
@background-secondary: #ffffff;
@background-main: #F4F1ED;

// Navbar
// -------------------------
@navbarLinkColor: #959594;
@navbarLinkColorHover: #F9F8DE;

@navbarLinkColorActiveStart: #EEE676;
@navbarLinkColorActiveStop: #E5DA55;

// Filtering
// -------------------------
@filter-btn-hover-background: @navbarLinkColorHover;
@filter-btn-active-background: @active-link-color;

// Sidebar
// -------------------------
@sidebar-active-background-start: @navbarLinkColorActiveStart;
@sidebar-active-background-stop: @navbarLinkColorActiveStop;
@sidebar-icon-color: @footer-background;

// Mobile Sidebar
// -------------------------
@mobileSidebarColor: @top-section-bg-stop;
@mobileSidebarColorSelected: @top-section-bg-stop;
@mobile-sidebar-link-color: #444;

// Footer
// -------------------------
@footer-background: #C1BEB6;
@footer-darker-background: #A29F99;

// News Letter Button
// -------------------------
@news-letter-btn-main: #88857E;
@news-letter-btn-hover: #E7DF60;

// Background Images
// -------------------------
.people-background {
  background: @background-main url(../../images/people-summer.png) repeat-x bottom center;
}
.social-footer-icons {
  background: url("../../images/social-footer-icons-summer.png");
}
.social-footer-icons-retina {
  background: url("../../images/social-footer-icons-summer@2x.png");
}

// Fancybox
// -------------------------
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url(../../lib/fancybox/fancybox_sprite_summer.png);
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url(../../lib/fancybox/fancybox_sprite_summer@2x.png);
  }

}