// Links
// -------------------------
@linkColor: #336699;
@linkColorHover: #4394e5;
@footer-link-color:#b1d0e1;
@active-link-color: #bddbea;

// Scaffolding
// -------------------------
@bodyBackground: #fff;
@textColor: #1e1e1c;

@headingsColor: @textColor;
// empty to use BS default, @textColor

// Top Section Gradient
// -------------------------
@top-section-bg-start: #cadfea;
@top-section-bg-stop: #b1d0e0;
@top-background: #b1d0e0;

// Background
// -------------------------
@background-secondary: #ffffff;
@background-main: #ecf1f3;

// Navbar
// -------------------------
@navbarLinkColor: #959594;
@navbarLinkColorHover: #EFF6F9;

@navbarLinkColorActiveStart: #cadfea;
@navbarLinkColorActiveStop: #b1d0e0;

// Filtering
// -------------------------
@filter-btn-hover-background: #dae7ee;
@filter-btn-active-background: @active-link-color;

// Sidebar
// -------------------------
@sidebar-active-background-start: #bfdceb;
@sidebar-active-background-stop: @footer-link-color;
@sidebar-icon-color: #C2CEDC;

// Mobile Sidebar
// -------------------------
@mobileSidebarColor: #646F7E;
@mobileSidebarColorSelected: #515a69;
@mobile-sidebar-link-color: #fff;

// Footer
// -------------------------
@footer-background: #808c9d;
@footer-darker-background: #646F7E;

// News Letter Button
// -------------------------
@news-letter-btn-main: #808b9d;
@news-letter-btn-hover: @footer-link-color;

// Background Images
// -------------------------
.people-background {
  background: @background-main url(../../images/people-winter.png) repeat-x bottom center;
}
.social-footer-icons {
  background: url("../../images/social-footer-icons-winter.png");
}
.social-footer-icons-retina {
  background: url("../../images/social-footer-icons-winter@2x.png");
}

// Fancybox
// -------------------------
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url(../../lib/fancybox/fancybox_sprite_winter.png);
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url(../../lib/fancybox/fancybox_sprite_winter@2x.png);
  }

}