@import "../../fonts/stylesheet.css";
@import "../../lib/bootstrap-master/less/variables";
@import "../../lib/bootstrap-master/less/mixins";
@import "variables";
@import "testimonials";
@import "find-retailer";

@icebug-orange: #ebb937;

[ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}

/* -----------------------------------------
   Breakpoints
----------------------------------------- */
@godzilla-huge-desktop: ~"only screen and (min-width: 1999px)";
@huge-desktop: ~"only screen and (max-width: 1999px)";
@large-desktop: ~"only screen and (max-width: 1440px)";
@desktop: ~"only screen and (max-width: 1200px)";
@landscape-tablet: ~"only screen and (max-width: 1050px)";
@tablet: ~"only screen and (max-width: 1023px)";
@mobile: ~"only screen and (max-width: 767px)";
@retina: ~"only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)";

/* -----------------------------------------
   Grid
----------------------------------------- */
.span1 {
  .make-column(1);
}

.span2 {
  .make-column(2);
}

.span3 {
  .make-column(3);
}

.span4 {
  .make-column(4);
}

.span5 {
  .make-column(5);
}

.span6 {
  .make-column(6);
}

.span7 {
  .make-column(7);
}

.span8 {
  .make-column(8);
}

.span9 {
  .make-column(9);
}

.span10 {
  .make-column(10);
}

.span11 {
  .make-column(11);
}

.span12 {
  .make-column(12);
}

.container {
  max-width: 1040px;
  padding-left: 40px;
  padding-right: 40px;
  @media @mobile {
	padding: 0px 20px;
  }
}

.centered-col {
  margin:0 auto;
  float:none;
}

/* -----------------------------------------
   Typograpghy
----------------------------------------- */
body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h5 {
  color: @headingsColor;
  margin: 0px 0px 25px 0px;
  a {
	color: @headingsColor;
	&:hover {
	  color: darken(@headingsColor, 10%);
	}
  }
}

p {
  line-height: 1.5;
  margin-bottom: 25px;
}

a {
  color: @linkColor;
  &:hover {
	color: @linkColorHover;
	text-decoration: none;
  }
}

table {
  width: 100%;
}

/* -----------------------------------------
   Button
----------------------------------------- */
.button-mixin {
  .border-top-radius(0px);
  .border-bottom-radius(0px);
  background-color: #fff;
  color: #959594;
  border: none;

  padding: 10px 15px;

  &:hover, &.active {
	background-color: @active-link-color;
	color: #000;

  }

  font-size: 16px;
  &.dark {
	background-color: #f7f7f7;
	&:hover {
	  background-color: @active-link-color;
	  color: #000;
	}
  }

  &.orange {
	color: @icebug-orange;
	&:hover {
	  background-color: @icebug-orange;
	  color: #000;
	}
  }

  &.large {

  }

}

.button,
.btn {
  .button-mixin;

}

/* -----------------------------------------
   Basic Layout elements
----------------------------------------- */
@padder: 20px;
.expand {
  margin-left: @padder * -1;
  margin-right: @padder * -1;
}

body {
  background: #000;
  color: @textColor;
}

body #top-section {
  #gradient .vertical(@top-section-bg-start, @top-section-bg-stop);
}

body #header-section {
  background: #fff;
}

body #main-section {
  background-color: @background-main;
}

body #footer-section {
  background-color: @footer-background;
}

body #end-section {
  background-color: #000;
}

.page-wrap {
  overflow: hidden;
}

/* -----------------------------------------
   Header
----------------------------------------- */
body > header {
  .row {
  }
}

#flag, #mobile-flag {
  position: absolute;
  width: 27px;
  height: 45px;
  background: url(../../images/flag.jpg) no-repeat;
  @media @mobile {
	right: 5px;
	z-index: 9999;
  }
}

#mobile-flag {
  background: url(../../images/flag@2x.png) no-repeat;
  background-size: 100%;
  width: 19px;
}

/*Navigation*/
body .navbar {
  margin-bottom: 0px;
}

#top-section {
  line-height: 36px;
  font-size: 14px;
  color: #727272;

  .top-slogan {
	@media @mobile {
	  padding: 0;
	}
  }

  .container {
	@media @tablet {
	  padding: 0 20px;
	}
	@media @mobile {
	  overflow: visible;
	}
  }

  p {
	margin: 0px;
	display: inline-block;
	padding-left: 40px;
	float: left;
	line-height: 36px;
	@media @mobile {
	  padding: 0;
	  width: 100%;
	  text-align: center;
	  line-height: 27px;
	  font-size: 13px;
	}
  }

  ul.top-menu {
	margin: 0px;
	a {

	  color: #727272;
	  text-transform: uppercase;

	  &:hover {
		color: #000;
		text-decoration: none;

	  }
	}

	li.active, .current-menu-item a {
	  text-transform: uppercase;
	  color: #000;
	}

	li {
	  padding-right: 20px;

	}
  }

  form {
	margin: 0px;
	padding: 0px;
	height: 36px;

	input, label {
	  float: left;
	  display: inline-block;
	}

	label {
	  padding-left: 10px;
	  padding-right: 10px;
	  margin: 0px;
	  color: #fff;
	  cursor: pointer;

	}
	input {
	  .border-top-radius(0px);
	  .border-bottom-radius(0px);

	  width: 0px;
	  overflow: hidden;
	  padding-left: 0px;
	  padding-right: 0px;
	  border-left: none;
	  border-right: 1px solid #808b9d;
	  background: #ecf1f3;
	  opacity: 0;

	  outline: none;

	  &:focus {

		width: 200px;
		padding-left: 10px;
		padding-right: 10px;
		outline: none;
		outline-color: transparent;
		outline-style: none;
		opacity: 1;
	  }
	}

	#gradient .vertical(#96a0af, #808b9d);

  }
}

#header-section {

  @media @mobile {
	border-bottom: 1px solid #E3E3E3;
  }

  #logo {
	display: block;
	padding-top: (100px - (86px / 2)) / 2;
	padding-bottom: (100px - (86px / 2)) / 2;

	@media @tablet {
	  padding-top: (90px - (86px / 2)) / 2;
	  padding-bottom: (90px - (86px / 2)) / 2;
	}

	@media @tablet {
	  text-align: center;
	  float: none;
	}

	img {
	  width: 458px / 2;
	  height: 86px / 2;
	}

	@media @mobile {
	  text-align: center;
	  padding: 7px 0;

	  img {
		display: inline-block;
	  }
	}
  }

  .menu-btn-logo-wrap {

	position: relative;

	#logo {
	  @media @mobile {
		width: 100%;
		float: left;
		height: 50px;
		img {
		  width: 190px;
		  height: auto;
		}
	  }
	}

	.mobile-show-menu-btn {
	  z-index: 99;
	  padding-top: 15px;
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 50px;
	  height: 50px;
	  text-align: center;
	  background: #fff;
	  color: #959594;
	  font-weight: 700;
	  text-decoration: none;
	  border-right: 1px solid #E3E3E3;
	}

  }

  .nav-wrap {

	@media @mobile {
	  width: 100%;
	  z-index: 99999;
	  position: relative;
	}

	ul.nav {
	  @media @mobile {
		position: absolute;
		left: 100%;
		opacity: 0;
	  }
	}

  }

  .header-section-wrap {
	@media @mobile {
	  padding-left: 0;
	  padding-right: 0;
	}
  }

  ul.nav {

	width: 71%;

	.inactive-styling {
	  color: @navbarLinkColor;
	  background: #fff;
	}

	.active-styling {
	  color: #000;
	  #gradient .vertical(@navbarLinkColorActiveStart, @navbarLinkColorActiveStop);
	}

	margin: 0px;
	padding: 0px;

	@media @tablet {
	  text-align: center;
	  float: none;
	  width: 100%;
	}

	li {
	  margin: 0px;
	  display: inline-block;
	  float: left;

	  @media @tablet {
		float: none;
	  }

	  a {
		padding-top: 25px;
		padding-bottom: 15px;
		padding-left: 5px;
		padding-right: 5px;
		line-height: 35px;
		text-align: center;

		.inactive-styling;

		display: inline-block;
		min-width: 90px;

		@media @tablet {
		  min-width: 0px;
		  padding-left: 15px;
		  padding-right: 15px;
		  display: block;
		}

		@media @mobile {
		  width: 100%;
		}

		&:hover {
		  background: @navbarLinkColorHover;
		  color: #000;
		}

		i {
		  font-size: 25px;

		  display: block;
		}

	  }

	  &.current-menu-item,
	  &.current-page-ancestor,
	  &.current_page_parent {
		a {
		  .active-styling;
		}

	  }

	  .single-product & {

		&.active {
		  a {
			.active-styling;
		  }
		}

		&.current_page_parent {
		  a {
			.inactive-styling;
		  }

		  a:hover {
			.active-styling;
		  }
		}

	  }

	  &.orange {
		a {
		  color: @icebug-orange;
		  font-weight: bold;

		  &:hover {
			background-color: #f5dc9b;
			color: #000;

		  }
		}

	  }

	}

	@media @mobile {
	  float: left;
	  width: 100%;
	  margin: 0px;
	  padding: 0px;
	  margin-bottom: 20px;
	  z-index: 99999;
	  li {
		float: none;
		display: block;
		a {
		  text-align: left;
		  padding: 10px 20px;
		  i {
			margin-right: 20px;
			display: inline-block;

		  }
		  &:hover {

		  }
		}
	  }
	}

  }

  @media @mobile {
	.container {
	  padding: 0px;
	}

  }
}

/* -----------------------------------------
   Main Area
----------------------------------------- */

/* -----------------------------------------
  Home
----------------------------------------- */

/* ------- Featured ------- */
.flexslider {
  .box-shadow(none);
  background: none;
  border: none;
  margin: 0px;

  .flex-control-nav {
	bottom: 20px;
	li a {
	  width: 45px;
	  height: 7px;

	  background-color: #f7f7f7;
	  border: 1px solid #f1f1f1;
	  .box-shadow(none);

	  &.flex-active {
		#gradient .vertical(#e7e27b, #e2dc59);
		border: 1px solid #e2dc59;

	  }
	}
  }
}

.carousel {
  border: none;

  li {
	margin-right: 0px;
  }

  ul.flex-direction-nav {

	.flex-prev,
	.flex-next {
	  opacity: 1;
	  left: -50px;
	  width: 34px;
	  height: 82px;
	  background: url(../../images/slider-arrow.png) top right no-repeat;
	}

	.flex-next {
	  left: auto !important;
	  background-position: top left !important;
	  right: -50px;
	}
	@media @tablet {
	  display: none;

	}
  }

  .row {
	padding-left: 5px;
	padding-right: 5px;
	@media @tablet {
	  padding: 0 15px;
	}
  }

  .title {
	font-size: 20px;
	margin: 0px 0px 5px;
  }
  p {
	font-size: 14px;
  }

}

.main-slider {
  max-height: 470px;
  overflow: hidden;

  @media @tablet {
	height: 340px;
  }

  @media @mobile {
	height: auto;
  }

  ul.flex-direction-nav {
	display: none;

  }
  li {
	position: relative;
	text-align: center;
	img {
	  width: auto !important;
	  display: inline-block !important;
	  @media @tablet {
		max-width: 150%;
	  }

	  @media @mobile {
		max-width: 100%;
	  }
	}

  }
  .text {
	text-align: left;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: auto;
	right: 50%;
	margin-left: 35px;
	width: 430px;
	background: #000;
	background: rgba(0, 0, 0, 0.4);
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	padding: 40px 60px 60px;

	@media @desktop {
	  padding: 40px;
	}

	@media @tablet {
	  padding: 4% 5% 5% 5%;
	  width: 45%;
	  float: left;
	}

	.btn {
	  margin-top: 20px;
	  @media @tablet {
		float: left;
	  }
	}

	.title {
	  font-size: 70px;
	  line-height: 0.9;
	  color: #fff;

	  @media @desktop {
		font-size: 55px;
	  }

	  @media @tablet {
		font-size: 32px;
	  }
	}

	&.right {
	  right: auto;
	  left: 50%;
	  margin-left: 0px;
	  margin-right: 35px;
	}
  }

  @media @mobile {
	.text {
	  display: none;
	}
  }
}

/* -----------------------------------------
  Modules
----------------------------------------- */
.module-mixin {
  padding-top: 30px;
  padding-bottom: 30px;

  &.border {
	background-image: url(../../images/border.png);
	background-position: bottom center;
	background-repeat: no-repeat;
  }
}

.mobile-module {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-header {
  text-align: center;
  font-size: 32px;
  background-color: @background-main;
  margin: 0px;
  padding-bottom: 30px;
  padding-top: 70px;
  background-image: url(../../images/border.png);
  background-position: bottom center;
  background-repeat: no-repeat;
}

section.module {
  .module-mixin;
  background-color: @background-main;
}

section.module.secondary {
  background-color: @background-secondary !important;
  &.border {
	background-image: none;

  }
}

.module {

  .module-header {
	font-size: 32px;
	margin-top: 20px;
	margin-bottom: 40px;
  }

  .intro-module {
	padding-top: 40px;
	@media @tablet {
	  padding-top: 20px;

	}
	@media @mobile {
	  padding-top: 0px;

	}

	.span12 {
	  padding: 0px 170px;

	}

	img {
	  margin-bottom: 20px;
	}
	.title,
	h1, h2, h3 {
	  font-size: 32px;
	}

	h4 {
	  font-size: 20px;
	  line-height: 1.5;

	}
	@media @mobile {
	  .span12 {
		padding: 0px 0px;
	  }
	}
  }

  .text-module {

	img {
	  margin-bottom: 20px;
	}

	.title {
	  font-size: 32px;

	}

	.title + p,
	h4 {
	  font-size: 20px;
	  line-height: 1.5;
	  max-width: 620px;
	}
	p {
	  max-width: 620px;
	}
  }

  .product-slider-module {

	.flex-control-nav {
	  display: none;
	}
  }

  .testemonial-slider-module {

	.slides > li {
	  @media @mobile {
		background: none !important;
	  }
	}
	.quote {
	  margin-top: 75px;
	  p {
		font-size: 32px;
		line-height: 1.4;
		max-width: 500px;
		margin-bottom: 10px;
	  }
	}
	.cite {
	  margin-bottom: 50px;
	  p {
		font-size: 16px;
	  }
	}

	ul.rating {
	  margin: 0px;
	  margin-bottom: 10px;
	  list-style-type: none;
	  .clearfix;
	  li {
		display: inline-block;
		float: left;
		margin-right: 5px;
		font-size: 20px;

		color: #e5e5e5;
		&.active {
		  color: #e2dc57;
		}

	  }
	}

	.testimonial-slider-product-image {
	  padding-top: 35px;

	  @media @tablet {
		padding-top: 70px;
	  }
	}

	.btn {

	  @media @tablet {
		width: 100%;
		margin-bottom: 15px;
	  }

	  .icon {
		@media @tablet {
		  margin-left: 5px;
		  margin-top: 5px;
		  position: relative;
		  top: 1px;
		}
	  }

	  .btn.dark;

	}
	.flex-direction-nav {
	  display: none;
	}
	.flex-control-nav {
	  bottom: auto;
	  top: 20px;
	  left: 0px;
	  right: auto;
	  text-align: left;

	}

  }

  .news-slider-module {

	.flex-direction-nav {

	}
	.flex-control-nav {
	  display: none;
	}

	img {
	  margin-bottom: 20px;
	}
	.title {
	  font-size: 20px;
	}

	p {
	  font-size: 14px;
	}

  }

  .product-listing-module {
	.product {
	  padding-top: 20px;
	  padding-bottom: 40px;

	  .product-link {
		display: block;
		width: 100%;
		text-align: center;

		img {
		  margin-bottom: 20px;
		  @media @mobile {
			margin: 0 auto 20px;
			float: none;
		  }
		}

	  }
	  .title {
		font-size: 16px;
		margin: 0px;
		text-align: center;
	  }
	}
  }

  .single-product-module {
	.page-title {
	  margin-bottom: 0px;
	}
	.tax {
	  margin-bottom: 35px;
	  @media @mobile {
		margin-top: 10px;
		margin-bottom: 15px;
	  }
	}
	.product-social-btns {

	  .innerSocial {
		float: right;
		@media @mobile {
		  float: none;
		  margin-bottom: 15px;
		}
	  }
	  .fb-like {
		margin-top: 2px;
		margin-right: 15px;
	  }
	}

	.span12, .span8 {
	  @media @mobile {
		padding: 0;
	  }
	}

	.wordpress-content {
	  @media @mobile {
		margin-bottom: 25px;
	  }
	}

	.read-testimonial {

	  @media @mobile {
		width: 100%;
	  }
	  .btn {
		padding: 2px 15px;
		margin-top: 5px;
		font-size: 12px;
		width: 100%;
		@media @mobile {
		  padding: 10px 15px;
		}
		@media @tablet {
		  margin-top: 0;
		}
		i {
		  position: relative;
		  top: 1px;
		  left: 2px;
		}
	  }
	}

	.product-actions {
	  margin-bottom: 50px;
	  @media @mobile {
		margin-bottom: 30px;
	  }
	  .btn {
		padding: 10px 15px;
		@media @mobile {
		  width: 48%;
		}

	  }
	}
	table.product-data-table {
	  tr {
		td {
		  font-size: 14px;
		  vertical-align: top;
		  &:first-child {
			font-weight: bold;
			padding-right: 10px;

		  }
		}
	  }
	}

  }

  .product-tech-module {

	.tech {
	  margin-bottom: 40px;
	  @media @mobile {
		text-align: center;
		margin-bottom: 10px;
	  }
	  .img {
		padding-top: 20px;
		@media @mobile {
		  margin-bottom: 25px;
		}
	  }
	  .span2 {
		@media @mobile {
		  width: 40%;
		  float: left;
		}
	  }
	  .span10 {
		float: left;
	  }
	}
	.title {
	  font-size: 24px;
	  margin-bottom: 10px;
	}

	p, .title {
	  @media @mobile {
		text-align: left;
	  }
	}

	.span4 a {
	  margin-bottom: 30px;
	  display: block;
	  @media @mobile {
		display: block;
		text-align: center;
	  }
	}

	table.grid {
	  tr {
		border-top: 1px solid #dbdbdb;

		td, th {
		  font-size: 12px;
		  border-left: 1px solid #dbdbdb;
		  text-align: center;

		  &:first-child {
			border: none;
			text-align: left;
			padding-right: 10px;

		  }
		  &.marked {
			font-weight: bold;
			text-transform: uppercase;

		  }
		}
		&:first-child {
		  border: none;

		}
	  }

	}

  }

}

.meta {
  color: #959594;
  font-size: 12px;
  margin-bottom: 10px;
  .icon {
	margin: 0 7px 0 0;
  }

  .icon-folder-open {
	margin: 0 5px 0 15px;
  }

}

/* -----------------------------------------
  Slider Module
----------------------------------------- */

.slider-module {
  .flex-direction-nav {
	@media @mobile {
	  display: none;
	}
  }
}

/* -----------------------------------------
  Testimonials
----------------------------------------- */

.product-cat-pick {
  margin-bottom: 18px;
}

.success {
  margin: 0 0 20px;
}

.testimonial {
  float: left;
  margin: 0 0 30px 0;
  background: #fff;
  padding: 40px;
  box-shadow: 0px 1px 1px rgba(199, 199, 199, 0.2), 0px -1px 1px rgba(199, 199, 199, 0.2);
  width: 100%;

  .testimonial-content {
	padding: 0;
  }

  .testimonial-thumb {
	padding: 0 0 0 20px;
  }

}

.testimonial-by {
  margin-top: 20px;
}

.testimonial-title {
  margin-bottom: 15px;
  word-wrap: break-word;
}

.testimonial-rating {
  margin: 0;
  li {
	display: inline;
  }

  .rating {
	font-size: 1.3em;
	color: #E6E6E6;
  }

  .form-rating {
	color: #fff;
	cursor: pointer;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  }

  li.active-rating {
	color: #E5DB57;
	text-shadow: none;
  }

}

#testimonial-form, .page-standard-form {

  input {
	height: 40px;
  }

  input, textarea, select, .testimonial-rating {
	margin: 0 0 15px 0;
  }

  .testimonial-form-right-col {
	label.error {
	  display: none !important;
	}
  }

  .rating-placeholder {
	margin-right: 15px;
  }

  .testimonial-rating {
	padding: 5px 0;
  }

  .submitBtn {
	padding: 13px 18px;
	float: right;

	.icon-envelope {
	  color: #D9D9D9;
	  margin-left: 4px;
	}

	&:hover {
	  .icon-envelope {
		color: #353D41;
	  }
	}
  }

  .checkbox {
	float: left;
	margin-top: 10px;
  }

  .checkbox input {
	margin: 0 15px 15px 0;
	height: 25px;
  }

  .checkbox label.error {
	display: none !important;
  }

  .form-instruction {
	padding-top: 13px;
  }

  .error {
	border-color: #ba2e35;
  }

  .checkbox-error {
	color: #ba2e35;
  }

}

// Contact Form
.contact-form {

  .gform_body {

	ul {
	  list-style-type: none;
	  margin-left: 0;
	}

  }

  .ginput_container input[type="text"], .ginput_container textarea, .ginput_container select {
	font-size: 16px;
	padding: 6px 9px;
  }

  .gform_wrapper textarea.medium {
	height: 160px;
	width: 100%;
  }

  .gform_wrapper .gform_footer {
	width: 100%;
	float: left;
	padding-top: 0;
	margin-top: -10px;
	input[type=submit] {
	  float: right;
	  @media @tablet {
		width: 100%;
		margin-top: 25px;
	  }
	}
  }

  .gform_wrapper .top_label li.gfield.gf_right_half textarea {
	width: 100%;
  }

  /* Errors */

  .gform_wrapper .top_label li.gfield.gfield_error.gf_left_half, .gform_wrapper .top_label li.gfield.gfield_error.gf_right_half {
	width: 48%;
  }

  .gform_wrapper li.gfield.gfield_error.gfield_contains_required {
	padding: 0 !important;
	margin: 0 !important;
  }

  .gform_wrapper .validation_message {
	display: none;
  }

  .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label, .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container {
	margin: 0;
  }

  .gform_wrapper li.gfield_error input[type=text], .gform_wrapper li.gfield_error input[type=url], .gform_wrapper li.gfield_error input[type=email], .gform_wrapper li.gfield_error input[type=tel], .gform_wrapper li.gfield_error input[type=number], .gform_wrapper li.gfield_error input[type=password], .gform_wrapper li.gfield_error textarea {
	margin: 0 0 24px 0;
  }

  .gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
	background: none !important;
	border: none !important;
  }

  .gform_wrapper .top_label li.gfield {

	@media @tablet {
	  width: 100% !important;
	}

	input, select {
	  @media @tablet {
		width: 100% !important;
	  }
	}
  }

}

/* Single Product Testimonials */

.testemonial-slider ul.slides > li {
  min-height: 340px;
}

.testimonial-by {
  @media @mobile {
	margin-bottom: 25px;
  }
}

#testimonials {

  .testimonial-thumb {
	a {
	  display: block;
	  float: left;
	  text-align: center;
	  width: 100%;
	}

  }
}

#testimonial-form {
  .submitBtn {
	@media @mobile {
	  margin-top: 25px;
	  width: 100%;
	}
  }
}

/* Kontaktsidan */

.contact-address {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 40px;
}

/* -----------------------------------------
  jPanel Menu
----------------------------------------- */

.jPanelMenu-panel {
  .open-jpanel & {
	z-index: 1 !important;
  }
}

#jPanelMenu-menu {

  .open-jpanel & {
	z-index: 2 !important;
  }

  background: #fff;
  .nav {
	width: 100%;

	li {
	  width: 100%;
	  display: block;
	}

	a {
	  display: block;
	  color: #959594;
	  float: left;
	  width: 100%;
	  padding: 10px 15px;
	  border-bottom: 1px solid #ECECEC;
	  height: 50px;
	  &:hover {
		background: #eeeeee;
		color: #000;
	  }
	  i {
		text-align: center;
		margin-right: 14px;
		width: 35px;
		height: 35px;
		display: block;
		float: left;
		font-size: 25px;
	  }

	  .fontawesome-text {
		float: left;
		display: block;
		margin-top: 2px;
	  }

	}

	.orange a {
	  color: #F9BA38;

	}

	.current_page_parent a, .current-menu-item a, .active a {
	  background: @navbarLinkColorActiveStop;
	  color: #000;
	}
  }

  .mobile-meta-links {
	a {
	  padding: 14px 15px;
	}
  }

  .mobile-search {
	float: left;
	padding: 3% 3% 3% 3%;
	background: #1E1B16;
	width: 100%;
	input {
	  width: 80%;
	  background: #D8D8D8;
	}

	i {
	  color: #959594;
	  margin-left: 15px;
	}
  }
}

.single-product #jPanelMenu-menu .nav .menu-item-457 a {
  color: #959594;
  background: #fff;
}

/* -----------------------------------------
  Page
----------------------------------------- */

.page-main-image {
  margin-bottom: 25px;
}

hr {
  height: 1px;
  background: none;
  border: none;
  margin: 0px;
  background-image: url(../../images/border.png);
  background-position: bottom center;
  background-repeat: no-repeat;

}

#breadcrumb-section {
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;

  .post-type-archive-product & {
	@media @tablet {
	  display: none;
	}
  }

  .breadcrumbs {
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background: none;
	font-size: 14px;
	.active, .active a {
	  color: #9eaaae;

	  cursor: default;
	  &:hover {
		text-decoration: none;
	  }
	}
  }
  @media @mobile {
	display: none;

  }
}

#main-section {
  padding-top: 35px;
  @media @mobile {
	padding-top: 20px;
  }
  .page-title {
	font-size: 38px;
  }

  .container {
	.span7 {
	  @media @tablet {
		margin-left: 6%;
	  }

	  @media @mobile {
		margin-left: 0;
	  }
	}

	.span4, .span7 {
	  @media @mobile {
		padding-left: 0;
		padding-right: 0;
	  }
	}

  }

}

#page-slideshow {
  .flex-direction-nav {
	display: none;
  }
  margin-bottom: 20px;
}

#banner-section {
  padding: 0px;
  img {
	width: 100%;
  }
}

@mobileBorderColor : #DAE7EE;

#filter-section {

  @media @tablet {
	padding: 0;
  }

  .product-cat-images-row {

	.span3 {
	  width: 21%;
	  @media @tablet {
		width: 100%;
	  }
	}

	.product-cat-membrane {
	  width: 23%;
	  @media @tablet {
		width: 100%;
	  }
	}

	.product-cat-membrane {
	  width: 23%;
	  @media @tablet {
		width: 100%;
	  }
	}

	.span4 {
	  width: 28%;
	  @media @tablet {
		width: 100%;
	  }
	}

  }

  .rows-above {
	ul {
	  min-height: 90px;
	}
  }

  .products-cat-wrap {
	@media @tablet {
	  float: left;
	  width: 100%;
	  height: 0;
	  overflow: hidden;
	}
    &.menuOpen {
      @media @tablet {
        height:auto;
      }
    }
  }

  .products-cat-links {
	float: left;
	width: 100%;
	@media @tablet {

	}
  }

  .container {
	@media @tablet {
	  padding: 0;
	}

  }

  .products-cat-col {
	@media @tablet {
	  padding: 0;
	  width: 100%;
	}
  }

  .product-cat {
	@media @tablet {
	  width: 100%;
	}
  }

  .product-cat-image {
	padding: 0;
  }

  .title {
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
	margin: 0px;
	margin-bottom: 5px;
	@media @tablet {
	  display: block;
	  width: 100%;
	  float: left;
	  text-align: center;
	  background: #f3f3f3;
	  color: #333;
	  margin: 0;
	  padding: 15px 0;
	  font-weight: bold;
	  border-bottom: 1px solid @mobileBorderColor;
	  cursor: pointer;

	}
  }

  .filter-btn {
	@media @tablet {
	  background: #474b52;
	  color: #fff;
	}
  }

  .product-cat-list-wrap {
	@media @tablet {
	  height: 0;
	  overflow: hidden;
	  float: left;
	  width: 100%;
      &.taxOpen {
        height: auto;
      }
	}
    @media @tablet {
      .popover {display:none !important;}
    }
  }

  ul {
	list-style-type: none;
	margin: 0px;
	padding-bottom: 20px;
	float: left;

	@media @tablet {
	  width: 100%;
	  padding: 0;
	}

	li {
	  display: inline-block;
	  float: left;

	  @media @tablet {
		width: 50%;
	  }

	  .popover.top {
		margin-top: -30px;
	  }

	  .popover.top .popover-title {
		background: none;
		border: none;
		padding-bottom: 0;
		font-weight: bold;
	  }

	  .popover.top .popover-content {
		padding-top: 0;

	  }

	  .btn {
		margin-right: 10px;
		margin-bottom: 5px;
		font-size: 14px;
		color: #D9D9D9;
		padding: 5px 8px;

		@media @tablet {
		  width: 100%;
		  display: block;
		  margin: 0;
		  float: none;
		  border-bottom: 1px solid @mobileBorderColor;
		  padding: 15px 0 15px;
		}

		&.active {
		  @media @tablet {
			color: #000;
		  }
		}

		@media @tablet {
		  border-right: 1px solid @mobileBorderColor;
		}

		text-transform: uppercase;
		.hover {
		  display: none
		}

		.no-touch &:hover {
		  background-color: @filter-btn-hover-background;
		  color: #000;

		  i {
			display: none
		  }
		  i.hover {
			display: inline-block;
		  }
		}

		.no-touch &.active {
		  &:hover {
			background-color: @filter-btn-active-background;
		  }
		  color: #000000;
		}

	  }

	  .inactive-mobile {
		@media @tablet {
		  background-color: #fff;
		  color: #D9D9D9;
		}
	  }
	}
  }

  a.icon {
	margin-right: 5px;
	opacity: 0.5;
	position: relative;
	width: 32px;
	-webkit-transition: opacity 200ms; /* Safari */
	-moz-transition: opacity 200ms; /* Safari */
	-ms-transition: opacity 200ms; /* Safari */
	transition: opacity 200ms; /* Safari */

	img.bw-image {
	  position: absolute;
	  top: -3px;
	  opacity: 1;
	  left: 0;
	}

	.no-touch &:hover, &.active {
	  opacity: 1;
	  img.color-image {
		filter: alpha(opacity=100);
	  }
	  img.bw-image {
		opacity: 0;
		filter: alpha(opacity=0);
	  }
	}

  }

  .start-filtering-btn {
	@media @tablet {
	  background: #376e80;
	  color: #fff;
	  height: 0;
	  padding: 17px 0 37px;
	}
  }

  .clean-all-filters {
	padding: 4px 8px;
	margin-top: 25px;
	i {
	  margin-left: 5px;
	  font-size: 14px;
	}
	@media @tablet {
	  margin-top: 0;
	  padding: 17px 0 16px;
	  background: #F3F3F3;
	  color: #000;
	}
  }

}

.free-text-search {
  float: right;
  padding-right:54px;
  @media @tablet {
    float: none;
    padding: 15px;
    background: #F3F3F3;
    border-bottom:1px solid @mobileBorderColor;
  }
}


.no-js .hide-for-no-js {
  display: none;
}

#filter-section {
  .mobile-term-image-btn:nth-child(odd) {
	border-right: 1px solid @mobileBorderColor;
  }
}

#product-images-section {

  .span12 {
	position: relative;
  }
  .genders {
	position: absolute;
	z-index: 10;
	top: 0px;
	left: 15px;
	img {
	  margin-right: 5px;
	  float: left;
	}
  }
}

#product-slider {
  .flex-direction-nav {
	display: none;
  }
}

#product-slider-nav {
  .flex-direction-nav {
	display: block;
	a {
	  background-image: url("../../images/ice_dir_nav.png");
	  height: 55px;
	  opacity: 1;
	  margin: -84px 0 0;
	  &.flex-disabled {
		opacity: 0 !important;
	  }

	  &.flex-prev {
		left: -40px;
		@media @tablet {
		  left: -45px !important;
		}
	  }
	  &.flex-next {
		right: -40px;
		@media @tablet {
		  right: -45px !important;
		}
	  }
	}
  }
}

#product-slider {

  .slides {
	li {
	  text-align: center;

	  .icon-360 {
		color: #fff;
		position: absolute;
		top: 10px;
		left: 10%;
		i {
		  font-size: 14px;
		}
	  }

	}
	img {
	  text-align: center;
	  display: inline-block;
	  width: auto;

	}
	video {
	  max-width: 100%;

	  /* just in case, to force correct aspet ratio */
	  height: auto !important;
	}

  }
}

.product-listing-module {
  @media @tablet {
	padding-left: 55px;
  }

  @media @mobile {
	padding-left: 20px;
  }
}

#products-section {
  padding-bottom: 60px;
}

#products {

  .inner-products {
	width: 100%;
	float: left;
  }

  .row {

	&:after {
	  @media @landscape-tablet {
		clear: none;
	  }
	}

  }

  article {

	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
	margin-bottom: -60px;

	@media @landscape-tablet {
	  width: 33%;
	  margin-bottom: -30px;
	}

	@media @tablet {
	  width: 50%;
	  margin-bottom: 0;
	}

	@media @mobile {
	  width: 100%;
	  padding: 15px 15px 30px;
	}

	.inner-product {
	  padding: 15px 30px 30px;
	  background: #fff;
	  @media @mobile {
		padding: 0;
	  }

	  @media @tablet {
		padding-left: 0 ;
	  }

	  -webkit-transition: all 200ms;
	  -moz-transition: all 200ms;
	  -ms-transition: all 200ms;
	  -o-transition: all 200ms;
	  transition: all 200ms;
	}

	height: 285px;

	@media @tablet {
	  height: 235px;
	}

	a {
	  @media @tablet {
		display: block;
		text-align: center;
	  }
	}

	&:hover {

	  overflow: visible;

	  position: relative;
	  z-index: 100;

	  @media @tablet {
		overflow: hidden;
	  }

	  .inner-product {

		-webkit-box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.1);
		@media @tablet {
		  position: relative;
		  -webkit-box-shadow: none;
		  -moz-box-shadow: none;
		  box-shadow: none;
		  opacity: 0.6;

		}

	  }

	  .product-terms {
		opacity: 1;
		.oldie & {
		  display: block;
		}
	  }

	}

	a {
	  h4 {
		margin-top: 15px;
	  }

	  &:hover {
		text-decoration: none;
	  }
	}

	.product-terms {
	  text-align: center;
	  margin-top: 15px;
	  opacity: 0;
	  -webkit-transition: all 200ms;
	  -moz-transition: all 200ms;
	  -ms-transition: all 200ms;
	  -o-transition: all 200ms;
	  transition: all 200ms;

	  .oldie & {
		display: none;
	  }

	  @media @tablet {
		display: none;
	  }

	  img {
		margin: 0 7px 7px;
	  }

	}

  }
}

#product-images-thumbnails {
  padding: 0px;
  border-top: 2px solid #eaeff1;

  @media @mobile {
	display: none;
  }

  #product-slider-nav {
	border: none;
	padding: 8px 0;
  }
  img {
	cursor: pointer;
  }

  li {
	position: relative;
	text-align: center;

	img {
	  max-width: 190px;
	}

	.width-img {
	  max-width: none;
	}

	.icon-360 {
	  color: @footer-background;
	  position: absolute;
	  top: 5px;
	  left: 5px;
	  i {
		font-size: 14px;
	  }
	}
  }

  img.thumb {
	display: inline;
	text-align: center;
  }

  img.video-icon {
	position: absolute;
	width: 28px;
	height: 28px;
	top: 50%;
	left: 50%;
	margin-left: -14px;
	margin-top: -14px;

  }
}

#sidebar {

  @media @tablet {
	width: 33.33333333333333%;

  }

  ul.sub-menu,
  ul.sub-menu ul {
	list-style-type: none;
	margin: 0px;

	li {
	  margin-top: 1px;

	}

	a {
	  display: block;
	  background: #fff;
	  line-height: 45px;
	  padding: 0px 25px;
	  &:hover {
		background-color: @filter-btn-hover-background;
		color: #000;
	  }

	  i {

		color: @sidebar-icon-color;
		font-size: 13px;
		margin-right: 10px;

		&.down {
		  display: none;
		}
	  }

	  @media @tablet {
		padding: 0 15px;
	  }
	}

	ul.children {
	  display: none;

	  a {
		padding-left: 40px;
		@media @tablet {
		  padding-left: 30px;
		}

		i {
		  display: none !important;
		}
	  }

	  ul.children {
		a {
		  padding-left: 60px;

		}
	  }
	}

	li.current_page_item {

	  i {
		display: none;
		&.down {
		  display: inline-block;
		}
	  }

	  > a {
		color: #000;
		pointer-events: none;
		#gradient .vertical(@sidebar-active-background-start, @sidebar-active-background-stop);

		i {
		  color: @sidebar-icon-color;
		  display: inline-block;
		  &.down {
			display: none;
		  }
		}

	  }
	  > ul.children {
		display: block;
		a {
		  i {
			display: none !important;
		  }
		}
	  }
	}

	li.current_page_item.parent {
	  > a i {
		color: @sidebar-icon-color;
		display: none;
		&.down {
		  display: inline-block;
		}
	  }
	}

	li.current_page_parent {
	  > ul.children {

		display: block;
		ul.children {
		  display: none;

		}
	  }
	}

	li.current_page_ancestor {

	  > ul.children {
		display: block !important;

		li.current_page_item {
		  ul.children {
			display: block;
		  }
		}

	  }
	  i {
		display: none;
		&.down {
		  display: inline-block;
		}
	  }

	}
  }

  ul.sub-menu {
	@media @mobile {
	  margin-bottom: 20px;
	}
  }
  .ad {
	margin-top: 40px;
	display: block;

	@media @mobile {
	  display: none;
	}

  }

  form {
	margin: 0px;
  }
}

#page-content {
  padding-left: 65px;

  .search & {
	padding-left: 0;
  }

  &.press-content {
	padding: 0;
  }

  @media @tablet {
	padding-left: 35px;
	width: 66.66666666666666%;

	&.press-content {
	  width: 100%;
	}

  }

  @media @mobile {
	width: 100%;
	padding: 0;
  }
}

.page {
  .child-pages {
	.row {
	  padding-top: 22px;
	  background-image: url(../../images/border.png);
	  background-position: top center;
	  background-repeat: no-repeat;
	  background-size: 100% 2px;
	  @media @mobile {
		margin: 0;
	  }

	}

	a {
	  display: block;

	}

	.span4 {
	  @media @tablet {
		text-align: center;
	  }
	}

	.span4, .span8 {
	  @media @tablet {
		width: 100%;
	  }
	}

	img {
	  padding-bottom: 20px;
	}
	.title {
	  font-size: 24px;
	  margin-bottom: 10px;
	}
  }

  .page-image {
	margin-bottom: 0px;
  }

  .content {

	p {
	  margin-bottom: 35px;
	}

	h2, h3 {
	  margin-bottom: 15px;
	}

	h2 {
	  font-size: 28px;
	}
	h3 {
	  font-size: 20px;
	}

	ul, ol {
	  margin-bottom: 35px;

	  li {
		list-style-image: url(../../images/caret.png);
		margin-bottom: 15px;
		font-size: 16px;
	  }
	}
  }

}

#products a {
  @media @mobile {
	text-align: center;
	display: block;
	width: 100%;
  }
}

/* -----------------------------------------
  News
----------------------------------------- */

.news-intro {
  padding-bottom: 35px;
  margin-bottom: 30px;
  .module-mixin.border;

}

.blog-post {

  padding-bottom: 35px;
  margin-bottom: 33px;

  .module-mixin.border;

  .post-image {
	margin-bottom: 30px;
  }

  .meta {
	font-size: 13px;

	.fb-like-box {
	  position: relative;
	  display: inline;
	  margin-left: 11px;
	  top: 6px;
	}

  }

  .cats {
	display: inline;
	list-style-type: none;
	margin: 0;
	li {
	  display: inline;
	}
  }

}

/* -----------------------------------------
  Pagination
----------------------------------------- */

.pagination {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;

  li:first-child {
	span, a {
	  border-bottom-left-radius: 0px;
	  border-top-left-radius: 0px;
	}
  }

  li:last-child {
	span, a {
	  border-bottom-right-radius: 0px;
	  border-top-right-radius: 0px;
	}
  }

  li a, li span {
	padding: 10px 15px;
	margin-left: 10px;
	border: none;
	color: #A3A3A2;
  }

  li span.current, li a:hover {
	background: #B2CCDE;
	color: #2A3338;
  }

}

/* -----------------------------------------
  Press Iframe
----------------------------------------- */
#press-iframe {
  -webkit-overflow-scrolling: touch
}

/* -----------------------------------------
  Mobile Sidebar
----------------------------------------- */

#mobile-sidebar {
  width: 100%;
  padding: 0;
  margin-bottom: 25px;
  float: left;

  button, ul {
	background: @mobileSidebarColor;
	font-weight:bold;
	a {
	  color:@mobile-sidebar-link-color;
	}
  }

  .dl-submenu {
	top: 45px;
  }

  .dl-active {
	background: @mobileSidebarColorSelected;
  }

  .dl-trigger {
	width: 100%;
	text-indent: 0;
	text-align: center;
	font-weight: bold;
	color:@mobile-sidebar-link-color;
  }

  .row, .container {
	padding: 0;
  }

  #dl-menu {
	width: 100%;
	max-width: 100%;
	z-index: 100;
  }

  .dl-menu, .dl-submenu {
	margin: 0;
  }

}

/* -----------------------------------------
  Footer
----------------------------------------- */
#ppl {
  height: 150px;
  .people-background;

}

#footer-section {

  .footer-wrap {
	@media @tablet {
	  padding: 0;
	}
  }

  .title {
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	padding-top: 40px;
	margin-bottom: 20px;
  }

  ul {
	li {
	  a {
		color: #fff;

		line-height: 25px;
		&:hover {
		  color: @footer-link-color;
		  text-decoration: none;

		}
	  }
	}
  }

  #newsletter {
	min-height: 400px;
	background-color: @footer-darker-background;
	padding: 0px 35px;

	@media @tablet {
	  min-height: 0px;
	  padding-bottom: 35px;
	  overflow: hidden;
	}

	input {
	  background: none;
	  border: none;
	  .border-top-radius(0px);
	  .border-bottom-radius(0px);

	  background-color: @footer-background;

	  &::-webkit-input-placeholder {
		/* WebKit browsers */
		color: #fff;
	  }
	  &:-moz-placeholder {
		/* Mozilla Firefox 4 to 18 */
		color: #fff;
	  }
	  &::-moz-placeholder {
		/* Mozilla Firefox 19+ */
		color: #fff;
	  }
	  &:-ms-input-placeholder {
		/* Internet Explorer 10+ */
		color: #fff;
	  }
	}
	.btn {
	  .border-top-radius(0px);
	  .border-bottom-radius(0px);
	  border: none;
	  line-height: 34px;
	  padding-top: 0px;
	  padding-bottom: 0px;
	  font-weight: bold;
	  color: #fff;
	  text-transform: uppercase;

	  #gradient .vertical(lighten(@news-letter-btn-main, 5%), @news-letter-btn-main);

	  &:hover {
		#gradient .vertical(@news-letter-btn-hover, @news-letter-btn-hover);
		color: #000;
	  }
	}
  }

  @media @tablet {
	margin: 0px;
  }

}

#end-section {
  padding: 30px 0px;
  color: #8a8a8a;

  .bottom-menu {
	margin: 0px;

	@media @tablet {
	  width: 425px;
	  float: none;
	  margin: 0 auto;
	}

	@media @mobile {
	  width: 100%;
	}

	li {

	  border-left: 1px solid #e1db55;
	  padding: 0px 10px;

	  @media @tablet {
		margin-bottom: 15px;
	  }

	  @media @mobile {
		display: block;
		width: 100%;
		border: none;
		text-align: center;
		margin-bottom: 10px;
	  }

	  &:first-child {
		border: none;
		& + li {
		  border: none;
		  margin-left: 15px;
		  @media @mobile {
			margin-left: 0;
		  }
		  @media @tablet {
			margin-left: 0;
		  }
		}
	  }
	}

	a {
	  color: #e1db55;
	  &:hover {
		color: #fff;
		text-decoration: none;
	  }
	}
  }
}

@media @tablet {
  a.flex-prev {
	left: -30px !important;
  }

  a.flex-next {
	right: -30px !important;
  }
}

/* -----------------------------------------
  Mobile Modules
----------------------------------------- */

.mobile-btn {
  @media @tablet {
	padding-top: 15px;
	padding-bottom: 15px;
  }
}

/* -----------------------------------------
  Retailers Mobile
----------------------------------------- */

.page-template-page-hitta-butik-php {
  @media @mobile {
	#top-section {position: fixed; top:0; left: 0; z-index: 999; width: 100%;}
	#header-section {position: fixed; top:27px; left: 0; width:100%; z-index: 999;}
	#mobile-flag {
	  position: fixed;
	}
  }
}

.find-retailer-page-wrap {
  @media @mobile {
	height: auto;
	min-height: 390px;
  }
  position:relative;
}

#map-canvas-wrap {
  @media @mobile {
	position:fixed;
	width:100%;
	height: 100%;
	top: 78px;
	z-index: 9999;
  }

}


#map-canvas {
	@media @mobile {
	  position: relative;
	  width:100%;
	  height: 100%;
	}
}


#retailers-list {

  top: 5px;
  width: 35%;

  @media @tablet {
	width: 45%;
  }

  @media @mobile {
	padding-top: 50px;
	position: static;
	height: auto;
	width: 100%;
	overflow: visible;
	z-index: 9999;
  }

  .retailer {
	@media @mobile {
	  border-bottom: 1px solid #ddd;
	  padding-bottom: 25px;
	}
  }
}

/* -----------------------------------------
  Retailers Search Block
----------------------------------------- */

#find-retailers-center-wrap {
  position: absolute;
  left: 0;
  top: 40px;
  padding-top: 0;
  @media @mobile {
      width:100%;
  }
}


#retailers-list{
  height: 100%;
  max-height:860px;
  width:280px;
  position: relative;
  left:-280px;
  opacity: 0;
  padding:0;
  top:21px;
  background: rgba(255,255,255,0.9);


  @media @tablet {
      max-height: 844px;
  }

  @media @mobile {
	width:100%;
	left: -100%;
	overflow-y:scroll;
	top:169px;
	position: fixed;
  }

  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;

  .retailer-title {
	word-break: break-word;
  }

  &.retailers-visible {
	left:0;
	opacity: 1;
  }

  .results-info-wrap {
	padding: 20px;
	background: #eee;
	.results-info {
	  font-style:italic;
	  margin-bottom: 5px;
	}
  }

  .retailers {
	padding: 30px 20px;
  }
}

#map-tool-bar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index:9999;
  background: #fff;
  background: rgba(255,255,255,0.9);
  max-width: none;
  padding: 10px 0 6px;

  .container {
	@media @tablet {
	    padding: 0 20px;
	}
  }

  @media @mobile {
	padding: 0;
	top: 51px;
	border-top:1px solid #E3E3E3;
  }



  .map-marker {
	text-align: center;
	padding-top: 7px;
	width: 2.333333%;
	padding-right: 0;
	padding-left: 0;
	i {
	  color: #666666;
	  font-size:22px;
	}
  }

  .show-btn-wrap {
	width: 17%;
	padding-right:0;
	@media @mobile {
	    width: 100%;
	}
  }

}

#show-retailers {
  float: left;
  font-size:14px;
  width:100%;
  background: none;
  text-align: left;
  padding-left: 0;

  i.icon {
	font-size:12px;
  }

  @media @mobile {
	width: 100%;
	text-align: center;
  }

  &:hover {
	background: none;
  }
  &:active {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
  }
}




#search-field {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: none;

  @media @tablet {
   	float: right;
	margin-top: 1px;
  }

  label {
	margin-bottom:15px;
  }

  input {
	width:100%;
	font-size:1.1em;
	padding-top: 5px;
	padding-bottom: 4px;
  }

  @media @mobile {
	position: fixed;
	left: 0;
	background: rgba(255,255,255,0.9);
	width:100%;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	top: 77px;
	label {
	  display: none;
	}
	padding: 8px 30px;
  }

}



/* -----------------------------------------
   Contact Form
----------------------------------------- */

.gform_body {
  #field_1_3 label {
	display: none;
  }

}

.wordpress-content {

  img {
	display: block;
	border: none;
	max-width: 100%;
  }
  img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
  img.alignright {
	padding: 0px;
	margin: 0 0 12px 20px;
	display: inline;
  }
  img.alignleft {
	padding: 0px;
	margin: 0 20px 12px 0;
	display: inline;
  }
  .alignright {
	float: right;
  }
  .alignleft {
	float: left;
  }

}

/* -----------------------------------------
   Editor
----------------------------------------- */
ol.commentlist {
  margin: 0px 0px;
  padding: 0px;
}

.commentlist .comment-body {
  padding: 10px;
  background: #EFEFEF;
  border: solid thin #DEDEDE;
  margin: 10px 0;
  position: relative;
}

.comment-body a.comment-reply-link {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #AEAEAE;
}

ol.commentlist li {
  list-style: none;
}

ol.commentlist img.avatar {
  padding: 5px;
  background: #DEDEDE;
  border: solid thin #CECECE;
  float: left;
  display: block;
  margin: 0px 15px 0px 0px;
  width: 32px;
  height: 32px;
}

ol.commentlist .comment-author {
  line-height: 25px;
}

.comment-body cite.fn {
  font-size: 14px;
  font-style: normal;
}

.commentmetadata a {
  margin: 0;
  font-size: 11px;
  color: #999;
}

.comment-body p {
  margin: 5px;
}

.comment-body .comment-author.vcard {
  margin: 0;
}

/* -----------------------------------------
   Modal
----------------------------------------- */

.modal-dialog {

  text-align: center;
  padding-top: 200px;
  @media @mobile {
	padding-top: 50px;
  }

  .closed-sign {
	text-align: center;
  }

  .btn {
	background: #F7F7F7;
	&:hover {
	  background: #dae7ee;
	}
  }

}

.modal-backdrop {
  background: #fff !important;
}

/* -----------------------------------------
   Share Btns
----------------------------------------- */

#main-section {

  .product-social-btns {
	@media @tablet {
	  width: 100%;
	  float: left;
	  margin-bottom: 15px;
	}

	@media @mobile {
	  margin-bottom: 10px;
	}

	.innerSocial {
	  float: left;
	  width: 100%;
	}

	.pinit-share-btn {
	  margin-left: 2%;
	  @media @tablet {
		margin-left: 0;
	  }
	}

	.btn {
	  font-size: 0.8em;
	  width: 49%;
	  float: left;
	  @media @tablet {
		width: 30%;
		margin-bottom: 5px;
		margin-right: 5px;
	  }
	  @media @mobile {
		width: 100%;
		margin-bottom: 5px;
		margin-right: 0;
	  }
	}
	.pinit {
	  float: none;
	}
  }

  .read-testimonial .btn {
	width: 100%;
	@media @tablet {
	  width: 30%;
	  padding: 10px 0;
	}
	@media @mobile {
	  width: 100%;
	}
  }
}

/* -----------------------------------------
   Share Btns
----------------------------------------- */

.social-icons {
  float: left;
  margin-top: 15px;

  .social-icon {
	.social-footer-icons;
	width: 41px;
	height: 37px;
	display: block;
	float: left;
	opacity: 1;
	-webkit-transition: opacity 200ms;
	-moz-transition: opacity 200ms;
	-ms-transition: opacity 200ms;
	transition: opacity 200ms;
	&:hover {
	  opacity: 0.5;
	}
	@media @retina {
	  .social-footer-icons-retina;
	  background-size: 127px 37px;
	  width: 41px;
	}
  }

  .twitter-social-btn {
	background-position: -42px 0;
  }

  .instagram-social-btn {
	background-position: -85px;
  }
}

/* -----------------------------------------
   Visibility Classes
----------------------------------------- */

// Desktop
.hide-for-desktop {
  @media @tablet {
	display: none;
  }
}

.show-for-desktop {
  display: none;
  @media @tablet {
	display: block;
  }
}

// Tablet
.hide-for-tablet {
  @media @tablet {
	display: none;
  }
}

.show-for-tablet {
  display: none;
  @media @tablet {
	display: block;
  }
}

// Mobile
.hide-for-mobile {
  @media @mobile {
	display: none;
  }
}

.show-for-mobile {
  display: none;
  @media @mobile {
	display: block;
  }
}

.jPanelMenu, body {
  overflow-x: visible !important;
}

/* -----------------------------------------
   Fancybox
----------------------------------------- */

.fancybox-skin {
  padding: 3px !important;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}

.fancybox-close {

}

.fancybox-nav span {
  visibility: visible;
 	display: block;
}


#fancybox-thumbs {
  background: rgba(0,0,0,0.4);
}

