.find-retailer-page-wrap {
  position:relative;
  height: 900px;
}

#retailers-list {
  height: 0px;
  background: #FFFFFF;
  position: absolute;
  z-index: 10;
}

#find-retailers-center-wrap {
  position: relative;
}

.search-map {
  padding-top: 15px;
}

#map-canvas {
  width:100%; height: 900px; position:absolute; top:0; left:0;
  img {
    max-width: none;
  }
}

#retailers-list {
  overflow-y: scroll;
}

.retailer {
  list-style-type: none;
  margin: 0 0 30px 0;
  &:hover {
    cursor: pointer;
  }
  -webkit-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -ms-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}

.inactive-retailer {
  opacity: 0.2;

  &:hover {
    opacity: 0.7;
  }
}

.current-retailer {
  opacity: 1;
  .oldie & {
    border:1px solid #ddd;
    padding:10px;
  }
}

.error-msg {
  margin: 10px 0;
  font-size:0.8em;
  font-style: italic;
}