// Fonts
// -------------------------
@sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;
@font-size-base:          16px;

//
// Generals
// --------------------------------------------------
@baseBorderRadius:      0px;
@borderRadiusLarge:     0px;
@borderRadiusSmall:     0px;

@navbarHeight:                    100px;
