/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
.transform {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 2s ease-in-out;
  -webkit-transition-duration: 0.3s, 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-style: preserve-3d;
  -moz-transition: all 2s ease-in-out;
  -moz-transition-duration: 0.3s, 0.5s;
  -moz-transform-origin: 50% 50%;
  -ms-transform-style: preserve-3d;
  -ms-transition: all 2s ease-in-out;
  -ms-transition-duration: 0.3s, 0.5s;
  -ms-transform-origin: 50% 50%;
  -o-transform-style: preserve-3d;
  -o-transition: all 2s ease-in-out;
  -o-transition-duration: 0.3s, 0.5s;
  -o-transform-origin: 50% 50%;
}
