img {
  display: block;
  border: none;
  max-width: 100%;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.alignright {
  padding: 0px;
  margin: 0 0 12px 20px;
  display: inline;
}
img.alignleft {
  padding: 0px;
  margin: 0 20px 12px 0;
  display: inline;
}
.alignright {
  float: right;
}
.alignleft {
  float: left;
}
/* =Comments
-------------------------------------------------------------- */
ol.commentlist {
  margin: 0px 0px;
  padding: 0px;
}
.commentlist .comment-body {
  padding: 10px;
  background: #EFEFEF;
  border: solid thin #DEDEDE;
  margin: 10px 0;
  position: relative;
}
.comment-body a.comment-reply-link {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #AEAEAE;
}
ol.commentlist li {
  list-style: none;
}
ol.commentlist img.avatar {
  padding: 5px;
  background: #DEDEDE;
  border: solid thin #CECECE;
  float: left;
  display: block;
  margin: 0px 15px 0px 0px;
  width: 32px;
  height: 32px;
}
ol.commentlist .comment-author {
  line-height: 25px;
}
.comment-body cite.fn {
  font-size: 14px;
  font-style: normal;
}
.commentmetadata a {
  margin: 0;
  font-size: 11px;
  color: #999;
}
.comment-body p {
  margin: 5px;
}
.comment-body .comment-author.vcard {
  margin: 0;
}
